# This is Git's per-user configuration file.
[user]
	name     = Kazuhiro Haraguchi
	email    = arx.solid@gmail.com
[color]
	ui       = true
[alias]
	unstage  = reset HEAD
	plog     = log --pretty='format:%C(yellow)%h %C(green)%cd %C(reset)%s %C(red)%d %C(cyan)[%an]' --date=iso
[pull]
	ff       = only
	rebase   = false
[core]
	autocrlf = false
	editor   = vim

