### git ignore these files and dirs

Session.vim
Brewfile.lock.json
selected

.git/
.undodir/

.config/**

# hyper
!.config/hyper/.hyper.js

# alacritty
!.config/alacritty/alacritty.yml

# nvim
!.config/nvim/init.vim
!.config/nvim/coc-settings.json
!.config/nvim/_config/

# yarn
!.config/yarn/global/package.json

# youtube-dl
!.config/youtube-dl/config

