### git ignore these files and dirs

## ignore all
/*
/.**

# white list

!/.bash_aliases
!/.bash_profile
!/.bashrc
!/.zshenv
!/.zshrc
!/.zsh_aliases
!/.eslintrc.js
!/.gitconfig
!/.gitignore
!/.travis.yml
!/.vimrc
!/.editorconfig
!/Brewfile
!/Gemfile
!/Makefile
!/README.md
# my shell scripts
!/setup-crostini.sh
!/setup-crostini-deb-buster.sh
!/avconcat.sh
!/mylist.txt
!/tom4a.sh
!/tomp3.sh

!/etc/
!/etc/**
!/bin/
!/bin/**

# emacs
!/.emacs.d/
!/.emacs.d/init.el
!/.emacs.d/kkcrc

## config
!/.config/
# youtube-dl
!/.config/youtube-dl/
!/.config/youtube-dl/config
# yarn
!/.config/yarn/
!/.config/yarn/global/
!/.config/yarn/global/package.json
# nvim
!/.config/nvim/
!/.config/nvim/init.vim
!/.config/nvim/coc-settings.json
!/.config/nvim/_config/
!/.config/nvim/_config/**
# hyper
!/.config/hyper/
!/.config/hyper/.hyper.js

