# This is Git's per-user configuration file.
[user]
  name = Kazuhiro Haraguchi
  email = arx.solid@gmail.com
[color]
	ui = true
[alias]
  unstage = reset HEAD
[pull]
	ff = only
	rebase = false
[core]
  autocrlf = false
  editor = vim

