## git ignore these files and dirs

# emacs
.emacs.d/elpa/

# brew
Brewfile.lock.json

# vim session file and dir
.undodir/
Session.vim
# nvim plugin directory
.config/nvim/plugged/
# nvimデフォルトのexplorerのhistory file
.config/nvim/.netrwhist

# yarn globalのnode_modulesを除外
.config/yarn/global/node_modules/

# coc
.config/coc/

.config/configstore/
.config/pulse/

# fish
.config/fish/completions/
.config/fish/fish_variables
.config/fish/functions/


